<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>webaudio-analyzer Demo</title>

  <script src="../webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="webaudio-analyzer.html">
  <style>
  	body {
  		font-family: sans-serif, arial;
  	}
	xmp {
                border: 1px solid #e5e5e5;
	}
  </style>
</head>
<body unresolved>

  <p>A `webaudio-analyzer` looks like this: (ogg audio files are not supported on Safari)</p>
  <p>
    code:
    <xmp>
      <webaudio-analyzer src="gd87-04-03d1t01.ogg"></webaudio-analyzer>
    </xmp>
  </p>

  <webaudio-analyzer src="gd87-04-03d1t01.ogg" ></webaudio-analyzer>

</body>
</html>
